@import "./colors.scss";

html {
  background-color: $background-white;
  overflow-y: auto;
  font-size: 16px;
}

body {
  font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
  color: $font-black;
  background-color: $background-white;
}

.margin-para {
  margin: 10px 0;
}

.vm-vertical-block {
  margin: 20px 0;
}

.my-container {
  background: #fff;
  left: 230px;
  top:70px;
  position: relative;
  width: calc(100% - 240px);
  height: calc(100% - 80px);
}
.mb-title{
  justify-content: space-between;
}

.mb-title,
.mb-type {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.title-td {
  text-align:left;
  overflow: hidden;
}

.w400{
  width:400px;
}

.w400{
  width:400px;
}

.control {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.mb-filter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
  // margin-left: -10px;

  &__input {
    width: 140px;
    margin: 0 10px;
  }
  &__button{
    margin: 0 10px;
  }
}
