@import "./colors.scss";

@mixin buttonTypeCommon() {
  border: 0;
  color: $color-white;
}

.vm-btn {
  // width: 60px;
  line-height: 20px;
  padding: 8px 10px;
  text-align: center;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: $color-white;
  border: 1px solid $border-gray;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    background-color: $background-gray;
  }

  &:active {
    color: $color-white;
    background-color: $background-grayer;
  }

  &--confirm {
    color: $color-white;
    background-color: $background-red;

    &:active {
      background-color: $background-red--active;
    }
  }

  &--primary {
    @include buttonTypeCommon();
    background-color: $primary;

    &:hover {
      background-color: $primary-hover;
    }
  }

  &--info {
    @include buttonTypeCommon();
    background-color: $info;

    &:hover {
      background-color: $info-hover;
    }
  }

  &--success {
    @include buttonTypeCommon();
    background-color: $success;

    &:hover {
      background-color: $success-hover;
    }
  }

  &--warning {
    @include buttonTypeCommon();
    color: $color-black;
    background-color: $warning;

    &:hover {
      background-color: $warning-hover;
    }
  }

  &--danger {
    @include buttonTypeCommon();
    background-color: $danger;

    &:hover {
      background-color: $danger-hover;
    }
  }

  &--vertification {
    width: 190;
    color: $color-white;
    background-color: $color-orange;
    margin-left: 16;
    padding: 0 8;
    line-height: 76;

    &:active {
      background-color: $color-orange-active;
    }
  }

  &--inline {
    display: inline-block;
    width: 160;
  }

  &--disabled {
    background-color: $background-grayer;

    &:active {
      background-color: $background-grayer;
    }
  }
}
